<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChatKeyboardDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6344EDA41C33E93A006BD651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6344EDBD1C33E93B006BD651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6344EDC81C33E93B006BD651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
